---

export interface ProjectCardProps {
  media: string
  alt: string
  caption: string 
  description: string
  className: string
  projectName: string
  lessons: string[]
}

const {projectName, media, description, alt, caption, className, lessons} = Astro.props as ProjectCardProps
---

<div class={className}>
  <h3 class="card__title">{projectName}</h3>

<div class="content__wrapper">
  <figure>
    <img src={`/src/data/${media}`} alt={alt}>
    <figcaption>{caption}</figcaption>
  </figure>

  <div>

  <p set:html={description}></p>
  <ul>
    <h4>Takeaways</h4>
    {lessons && lessons.map(item => <li>{item}</li>)}
    </ul>
  </div>

</div>

</div>

<style>

  div:not(:last-of-type) {
    margin-bottom: 100px;
  }

h3.card__title {
  font-size: calc(1.5rem + 1vw);
  margin: 0 auto;
  margin: 40px 0;
  color: white;
}

  div figure img {
    width: 90vw;
    border-radius: 2px;
    object-fit: cover;
    display: block;
  }

  div figure {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    width: min-content;
  }

  figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    text-align: center;
    color:white;
  }

  div p {
    font-size: calc(1rem + 2vw);
    line-height: 1.5;
  }

  div ul {
    margin-top: 20px;
    text-align: left;
  }

  div ul li {
    line-height: 1.5;
    font-size: calc(1rem + 2vw);
  }

  div ul li::before {
    content: '-';
    padding-inline-end: 5px;
    color: var(--zen-secondary);
  }
  
 @media only screen and (min-width: 900px) {
  div figure img {
    width: 60vw;
  }

  div p {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  div p, div ul li {
    margin-left: 20px;
  }

  div ul li {
    line-height: 1.5;
    font-size: 1.5rem;
  }
} 
  
</style>
