---

export interface ProjectCardProps {
  media: string
  alt: string
  caption: string 
  description: string
  className: string
  projectName: string
  lessons: string[]
}

const {projectName, media, description, alt, caption, className, lessons} = Astro.props as ProjectCardProps
---

<div class={className}>
  <h2 class="card__title">{projectName}</h2>

<div class="content__wrapper">
  <figure>
    <img src={`/src/data/${media}`} alt={alt}>
    <figcaption>{caption}</figcaption>
  </figure>

  <div>

  <p set:html={description}></p>
  <ul>
    <p>Takeaways</p>
    {lessons && lessons.map(item => <li>{item}</li>)}
    </ul>
  </div>

</div>

</div>

<style>

  div:not(:last-of-type) {
    margin-bottom: 150px;
  }


h2.card__title {
  font-size: calc(1.5rem + 1vw);
  margin: 0 auto;
  margin: 25px 0;
}

  div figure img {
    max-width: 95vw;
    border-radius: 2px;
    object-fit: cover;
  }

  div figure {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
  }

  figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    text-align: center;
    color:white;
  }

  div p {
    font-size: calc(1rem + 2vw);
    line-height: 1.5;
  }

  div ul {
    margin-top: 20px;
    text-align: left;
  }

  div ul li {
    line-height: 1.5;
    font-size: calc(1rem + 2vw);
  }

  div ul li::before {
    content: '-';
    padding-inline-end: 5px;
  }
  
  /* @media only screen and (min-width: 1000px) {

.content__wrapper {
  display: flex;
}

.content__wrapper:nth-child(odd) {
flex-direction: row-reverse;
}

.content__wrapper img {
  max-width: 55vw;
  margin-right: 20px;
}


.content__wrapper p:first-of-type {
  font-size: calc(2rem + 0.5vw);
  opacity: 0.8;
  margin-top: 30%;
}

.content__wrapper ul li {
  font-size: 22px;
}

} */
  
</style>
