---
export interface ProjectCardProps {
  media: string;
  alt: string;
  caption: string;
  description: string;
  className: string;
  projectName: string;
  lessons: string[];
  link: string;
}

const {
  projectName,
  media,
  description,
  alt,
  caption,
  className,
  lessons,
  link,
} = Astro.props as ProjectCardProps;
---

<div class={className}>
  <h3 class="card__title">
    {
      link ? (
        <a target="_blank" href={link}>
          {projectName}
        </a>
      ) : (
        projectName
      )
    }
  </h3>

  <div class="content__wrapper">
    <figure>
      <img src={`/src/data/${media}`} alt={alt} />
      <figcaption>{caption}</figcaption>
    </figure>

    <div>
      <p set:html={description} />
      <ul>
        <h4>Takeaways</h4>
        {lessons && lessons.map((item) => <li>{item}</li>)}
      </ul>
    </div>
  </div>
</div>

<style>
  div:not(:last-of-type) {
    margin-bottom: 6.25rem;
  }

  h3.card__title {
    margin: 0 auto;
    margin: 2.5rem 0;
    font-size: var(--font-m);
  }

  div figure img {
    width: 90vw;
    border-radius: 2px;
    object-fit: cover;
  }

  div figure {
    position: relative;
    margin-bottom: 1.25rem;
    width: min-content;
    display: flex;
  }

  figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.938rem;
    text-align: center;
    color: white;
  }

  div p,
  div li {
    line-height: var(--one-five-line-height);
    font-size: var(--font-xs);
  }

  div ul {
    margin-top: 1.25rem;
    text-align: left;
  }

  div ul li::before {
    content: "-";
    padding-inline-end: 0.313rem;
  }

  @media only screen and (min-width: 1200px) {
    div figure img {
      width: 60vw;
    }

    div p,
    div li {
      line-height: var(--one-five-line-height);
      font-size: var(--font-xs);
    }

    .content__wrapper {
      display: flex;
    }
    .content__wrapper div {
      margin-left: 1.25rem;
      margin-top: 1.25rem;
    }
  }

  @media screen and (min-width: 900px) and (min-height: 1100px) {
    div figure img {
      width: 95vw;
    }
    .content__wrapper {
      flex-direction: column;
    }
  }
</style>
